<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/snackbar.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/common/jquery.min.js"></script>
    <script src="~/js/common/bootstrap.bundle.min.js"></script>
    <script src="~/js/common/miscellaneous.js"></script>
    <script src="~/js/common/snackbar.min.js"></script>
    <script src="~/js/common/vue.min.js"></script>
    <script src="~/js/common/web3v1.0.0-b35.min.js"></script>
    <title>Ethereum Airline</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">ETHEREUM AIRLINE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
